{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    
    <div class="p-3 m-3">
        <h3 class="alert text-primary" style="text-align:center">Create an Account</h3>
        <div class="col-lg-5 rounded mx-auto ">
            <div class="text-center col">
            
                <img
                src="{% static 'image\logo.jpeg' %}" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            </div>

            <form action="/signup" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="form-control form-control-sm" 
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="form-control form-control-sm"
                    >
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" 
                    id="" class="form-control form-control-sm"
                    value="{{values.phone}}"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" >
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm">
                </div>

                <br>
                <button type="submit" class="btn btn-sm btn-success col-lg-12">Create an account</button>

            </form>
            <p>Already Have an account ? <a href="{% url 'login' %}"> Sign In.. </a></p>
        </div>
    </div>
</div>

{% endblock %}